// HEADER COMPONENT
.header {
  background-image: linear-gradient(to right bottom, #1e88e5, #2196f3);
  display: flex;
  align-items: center;

  min-height: 50px;
  &-logo {
    color: white;
  }
}

.sidenav-header-logo {
  height: 50px;
}

.custom-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.icon-rotated-180 {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.icon-rotated-0 {
  transform: rotate(0);
  transition: all 0.5s;
}

.header-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-container {
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484848;
  font-weight: 300;
}

.custom-mat-sidenav {
  min-width: 15%;
  border: none;
}

@media only screen and (max-width: 560px) {
  .custom-mat-sidenav {
    min-width: 55%;
  }
}
