/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
// ANGULAR MATERIAL ICONS
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext");

$custom-typography: mat-typography-config(
  $font-family: "Poppins, sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

.no-outline {
  outline: none !important;
}
